<footer class="site-footer h-card">
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <address class="footer-col">
        <div class="p-name">
          {%- if site.author -%}
            {{ site.author | escape }}
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
        </div>
        {%- if site.email -%}
        <div><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></div>
        {%- endif -%}
      </address>

      <div class="footer-col">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-description">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
