/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
}

.site-footer address {
  font-style: normal;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $spacing-unit / 2;
}

@include media-query($on-mobile) {
  .footer-heading {
    margin-bottom: 0.2rem;
  }

  .footer-col-wrapper {
    flex-direction: column;
  }

  .footer-description {
    order: -1;
  }

  .site-footer address {
    margin-bottom: $spacing-unit / 2;
  }
}
